.menuLinksYellow{
    color: var(--gold)
}
.menuLinksYellow:hover{
    color: var(--gold)
}

.mobileH2{
  font-size: 3rem;
  max-width: fit-content;
  padding-left: 2rem;
}
.mobileH2:hover{
  color:  #434589;
}


.body{
  margin-top: var(--header-height);
}


