.containerOpen{
    min-height: calc(100vh - 46px);
    position:absolute;
    z-index: 20;
    margin-top: 40px;
    
    left: 0;
    right: 0;
    background-color: var(--gold);
    animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.containerClose{
    height: calc(100vh - 64px);
    position:absolute;
    background-color: var(--gold);
    animation: fade-out .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }